@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card-bg {
        @apply bg-zinc-100 dark:bg-zinc-900 bg-opacity-80 backdrop-filter backdrop-blur-md;
    }
    .icon {
        @apply transition-all duration-300 ease-linear transform hover:scale-110 active:scale-95
    }
    .button {
        @apply transition-all duration-150 ease-in-out bg-red-500 dark:bg-red-400 hover:bg-red-600 dark:hover:bg-red-500 text-white font-bold py-2 px-4 rounded text-center my-5 rounded-full active:scale-95
    }
    .form {
        @apply rounded-lg p-2 bg-gray-200 dark:bg-zinc-700 focus:outline-none focus:ring-2 focus:ring-red-600 dark:focus:ring-red-500 focus:border-transparent rounded-full
    }
}

.spinner {
    width: 160px;
    height: 160px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    animation: spin 4s linear infinite;
}

.pizza-part {
    width: 80px;
    height: 80px;
}

.pizza-part-1 {
    animation: pizza1 2s ease-in-out infinite;
}

.pizza-part-2 {
    animation: pizza2 2s ease-in-out infinite;
}

.pizza-part-3 {
    animation: pizza4 2s ease-in-out infinite;
}

.pizza-part-4 {
    animation: pizza3 2s ease-in-out infinite;
}

/* animations */
@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes pizza1 {
    0% {
        transform: translate(-20%, -20%);
        opacity: 0;
    }
    10% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    50% {
        transform: translate(0%, 0%);
        opacity: 1;
    }
    60% {
        transform: translate(-20%, -20%);
        opacity: 0;
    }
    100% {
        transform: translate(-20%, -20%);
        opacity: 0;
    }
}

@keyframes pizza2 {
    0% {
        transform: translate(20%, -20%) rotateZ(90deg);
        opacity: 0;
    }
    10% {
        transform: translate(20%, -20%) rotateZ(90deg);
        opacity: 0;
    }
    20% {
        transform: translate(0%, 0%) rotateZ(90deg);
        opacity: 1;
    }
    60% {
        transform: translate(0%, 0%) rotateZ(90deg);
        opacity: 1;
    }
    70% {
        transform: translate(20%, -20%) rotateZ(90deg);
        opacity: 0;
    }
    100% {
        transform: translate(20%, -20%) rotateZ(90deg);
        opacity: 0;
    }
}

@keyframes pizza3 {
    0% {
        transform: translate(20%, 20%) rotateZ(180deg);
        opacity: 0;
    }
    20% {
        transform: translate(20%, 20%) rotateZ(180deg);
        opacity: 0;
    }
    30% {
        transform: translate(0%, 0%) rotateZ(180deg);
        opacity: 1;
    }
    70% {
        transform: translate(0%, 0%) rotateZ(180deg);
        opacity: 1;
    }
    80% {
        transform: translate(20%, 20%) rotateZ(180deg);
        opacity: 0;
    }
    100% {
        transform: translate(20%, 20%) rotateZ(180deg);
        opacity: 0;
    }
}

@keyframes pizza4 {
    0% {
        transform: translate(-20%, 20%) rotateZ(-90deg);
        opacity: 0;
    }
    30% {
        transform: translate(-20%, 20%) rotateZ(-90deg);
        opacity: 0;
    }
    40% {
        transform: translate(0%, 0%) rotateZ(-90deg);
        opacity: 1;
    }
    80% {
        transform: translate(0%, 0%) rotateZ(-90deg);
        opacity: 1;
    }
    90% {
        transform: translate(-20%, 20%) rotateZ(-90deg);
        opacity: 0;
    }
    100% {
        transform: translate(-20%, 20%) rotateZ(-90deg);
        opacity: 0;
    }
}